@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.container{
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    padding-top: 200px;
    font-family: 'Indie Flower', cursive;
    background-repeat: no-repeat;
    position: relative;
}
.container::before{
content: '';
position: absolute;
background: url('./img/1777668.svg');
background-repeat: no-repeat;
 /* left: 0; */
 right: 0px; 
width: 800px;
height: 700px;
background-size: cover;
top: 0px;
filter: drop-shadow(10px 10px 6px #fff);
}
.container::after{
content: '';
position: absolute;
background: url('./img/155449.svg');
background-repeat: no-repeat;
left: 0px; 
width: 400px;
height: 400px;
background-size: cover;
top: 0px;
filter: drop-shadow(10px 10px 6px #fff);
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 25px;
}